<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="TaskJob" class="com.app.tasks.TaskJobs"></bean>

	<bean id="dmJobTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="TaskJob" />
		<property name="targetMethod" value="testJob" />
		<property name="concurrent" value="true" />
	</bean>
	<bean id="dmRunTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="dmJobTask" />
		</property>
		<property name="cronExpression">
			<value>0 0 */1 * * ?</value>
		</property>
	</bean>
	<bean id="StartQuartz" lazy-init="false"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="dmRunTime" />
			</list>
		</property>
	</bean>

</beans>