.drop-container {
  position: relative;
  display: inline-block;
}

.topnav {
  width: 100px;
  line-height:22px;
  text-align:left;
}

.topnav a {
  outline:none;
  hide-focus:expression(this.hideFocus=true);
}


.topnav a.drop-title {
  text-decoration: none;
  background:url(pic/bt_bj.png) repeat-x bottom;
  border:1px solid #b4b4b4;
  font-size: 12px;
  line-height: 21px;
  overflow: hidden;
  padding: 3px 0 2px 4px;
  margin: 0 auto;
  vertical-align: middle;
  z-index: 101;
}
.topnav a.drop-title:hover {
  background:url(pic/bt_bj.png) repeat-x top;

}
.topnav a.drop-title, .topnav a.drop-title:hover {
  
}

.topnav a.drop-title {
  position:relative;
  margin-left:3px;
}

.topnav a.drop-title span {
  background:url(pic/toggle_down_light.png);
  background-repeat:no-repeat;
  background-position:100% 40%;
  padding:6px 30px 6px 4px;
  *padding: 2px 28px 2px 0;
}
.topnav a.menu-open {
  background:url(pic/bt_bj.png) repeat-x;
  outline:none;
  border-bottom: 1px transparent;
}

a.drop-content.menu-open span {
  background-image:url(pic/toggle_up_dark.png);
}

.drop-content {
  display:none;
  background-color:#e8ebec;
  border:1px solid #b4b4b4;
  position:absolute;
  width:auto;
  min-width: 100px;
  z-index:100;
  text-align:left;
  padding:12px;
  top: 14px !important;
  _top:13px;
  left: 0px;
  margin-left: 3px;
  margin-top:5px;
  margin-right: 0px;
  *margin-right: -1px;
}

.drop-content ul li:hover {
  background-color: white;
}
.drop-content input[type=text], .drop-content input[type=password] {
  display:block;
  border:1px solid #ACE;
  width:100px;
}
.drop-content a {
  color:#6AC;
}
.drop-content label {
  font-weight:normal;
}

.drop-content .checker {
  display: inline-block;
  width: 120px;
}

#contentRow{
    float:left;
	
	text-align:left;	
	text-decoration:none;
	padding:0 0 0 4px;
	_padding:2px 0 0 4px;
	margin:7px 0 0 0;
}